.container{ 
   
   /* border: 2px solid black; */
   justify-content: center;
   align-items: center;
   display: flex;
   gap: 20px;
}
.box{
   width: 104px;
   height: 70px;
   border: 2px solid black;
   /* border: 2px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

}